@font-face {
  font-family: Lato
  src: url(/assets/fonts/lato.ttf);
}

body {
    font:1.6em/2  "Lato",  "Roboto",  "Helvetica Neue",Arial,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    letter-spacing:normal;
     color:#666;
    font-weight:300;
    font-style:normal;
    margin: 0.8rem 0 0.5rem 0; 
}

h1,h2,h3 {
  font-style:normal;
  text-align:center;
}

h1 {
  font-size:8rem;
  color:#05afe7;
}

h2 {
  color:#555;
}

h2 b {
  color:#888;
}

h3 {
  font-weight:300;
}

h4 {
  
}

h5 {
  font-size:1.4rem;
  text-transform:uppercase;
  letter-spacing:0.1rem;
}


a {
  text-decoration:none;
  color:#ea8c06;
}

a:hover {
  color:#ff9804;
}

p {
  margin-bottom:1rem;
}

code {
    white-space:normal;
    font-size:0.8em;
}

.hidden {
  display:none;
}

.clear {
  clear:both;
}

.left {
  text-align:left;
}

.right {
  text-align:right;
}

.center {
  text-align:center;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  color:#05afe7;
  border:1px solid #05afe7;
  border-radius:0.3rem;
  font-size:1em;
  font-weight:600;
  height:3.8rem;
  line-height:3.8rem;
  padding:0rem 2rem;
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  
}

.feature .button, .feature button, .feature input[type="submit"], .feature input[type="reset"], .feature input[type="button"] {
  color:#fff;
  border:1px solid #fff;
}

.button.grey {
  color:#aaa;
  border:1px solid #aaa;
}

.button.orange {
  background-color:#f49a18;
}

.button.small {
  height:3rem;
  line-height:3rem;
  font-size:0.9em;
  padding:0rem 1rem;
  margin:0;
}

.inline-buttons {
  text-align:center;
}
.inline-buttons .button {
  margin:1rem 1rem 2rem 1rem;
}

ul.list {
  list-style:disc;
  padding:0 0 0 2rem;
  color:#444;
}


ul.inline, nav ul {
  list-style:none;
  margin:0;
  padding:0;
  display:inline;
}

ul.inline li, nav ul li {
  display: inline-block;
  white-space: nowrap;
  padding:0 1rem;
  margin:0 0 0.2rem 0;
}


header nav ul li.right {
  float:right;
}

header {
  padding:1rem;
  font-size:1.5em;
}

header a {
  line-height:4rem;
  color:#fff;
}
header a:hover {
  color:#fff;
}

header {
  margin:0 0 0 0;
  color:#fff;
  background-color:#05afe7;
}


footer {
  clear:both;
  font-size:0.9em;
  text-align:center;
  padding:2rem 0 1rem 0;
  margin:4rem 0 0 0;
  background-color:#05afe7;
  color:#fff;
}

footer a {
  color:#fff;
}

nav {
    clear:both;
    font-weight:300;
}

nav.admin {
  
}

article {
  clear:both;
  min-height:50rem;
}

section {
  clear:both;
  display:block;
  padding:1rem 2%;
  margin:1rem auto;
}

section .container {
  width:95%;
}

section.feature {
  background-color:#05afe7;
  color:#fff;
  width:100%;
  text-align:center;
  margin:0 0 2rem 0;
  padding:0 0 1rem 0;
}

section.feature h1 {
  margin-top:0;
}

section.feature ul {
  text-align:left;
}

section.feature a,  section.feature h1, section.feature h2, section.feature h3, section.feature h4, section.feature h5 {
  color:#fff;
}

section.padded {
  padding:0 2rem;
  max-width:80em;
}

section.narrow {
  padding:0 2rem;
  max-width:50em;
}

